// Import our fonts
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Dancing+Script|Playfair+Display:700,900);

@left-panel-size: 60%;
@ocean-blue: #084B8A;
@sunflower-yellow: #F5F24C;

body {
  background-color: #f0ead6;
}

.left-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: (100% - @left-panel-size);
  @font-color: rgba(255,255,255,0.8);
  color: @font-color;
  background-color: @ocean-blue;
  padding: 1em;
  overflow: hidden;
  box-shadow: inset -5em 0 3em -4em rgba(0,0,0,0.3);
  background-image: url(https://georgeruhe.files.wordpress.com/2011/04/capecodcolor_edited-1.jpg);
  background-position: center;
  background-size:cover;
  .names {
    display: inline;
    font-family: 'Dancing Script';
    font-size: 300%;
    transform: skewY(-10deg);
    width: 60%;
    max-width: 3em;
    z-index: 1000;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    a {
      transition: color 500ms;
      color: @font-color;
      &:hover, &:active {
        color: @sunflower-yellow;
      }
      span {
        vertical-align: middle;
        padding: 2px;
      }
      :nth-child(2) {
        font-family: 'Playfair Display';
        font-weight: bold;
        text-transform: uppercase;
        font-size: 60%;
        text-align: center;
        line-height: 1em;
        padding-left: 7px;
      }
      :nth-child(3) {
        text-align: right;
      }
    }
  }
}

.wedding-countdown {
  text-align: right;
  > .ui.statistics {
    display: block;
    padding-right: 2em;
    .mini.statistic {
      .value {
        font-size: 1.3rem;
      }
      .label {

      }
    }
  }
}

.right-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: @left-panel-size;
  right: 0;
  overflow-x: hidden;
  > .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 1em;
  }
}

.polaroid {
  max-width: 15em;
  max-height: 15em;
  background-color: #eee;
  position: absolute;
  box-shadow: 0px 2px 3px black;
  padding: .3em;
  overflow: hidden;
  z-index: 99;

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    margin-bottom: -5px;
  }
}
